[submodule "third_party/mathfu"]
	path = third_party/mathfu
	url = https://github.com/google/mathfu
[submodule "third_party/vk_callback_swapchain"]
	path = third_party/vk_callback_swapchain
	url = https://github.com/google/vk_callback_swapchain
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
